.Footer .footer-main {
    height: 60px;
    background-color: var(--primary);
    box-shadow: var(--bs-primary);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}

.Footer .footer-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.Footer .mongodb,
.Footer .expressjs,
.Footer .reactjs,
.Footer .nodejs{
    object-fit: cover;
    height: 35px;
    width: 130px;
    border-radius: 2px;
}

.Footer .author{
    color: var(--tersiory);
    margin-top: .5rem;
    font-size: medium;
}
.Footer .mern{
    height:25px;
    width: 50px;
    object-fit: cover;
    margin-bottom: .1rem;
    margin-right: .2rem;
}