.CartPreview {
    background-color: var(--primary-beeta);
    border-radius: 2px;
    padding: 1rem;
    padding-top: 0.5rem;
}

.preview-title {
    text-align: center;
    color:var(--tersiory);
}

.product-container {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
}

.preview-img {
    object-fit: cover;
    width: 8rem;
    height: 8rem;
}