.Input .search-input{
    background-color: var(--tersiory);
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
    width: 10rem;
    height:1.5rem;
    padding: 4px;
    transition: 500ms;
    color: var(--primary);
}

.Input .search-input:hover{
    outline: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.Input .search-input:focus{
    opacity: 1;
    outline: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}