.AddCompanyProductPage .main{
    margin-top: 50px;
    width: 100%;
    min-height: 45rem;
    max-height: max-content;
    background-image: linear-gradient(var(--secondery-alpha),0.01%,var(--primary-alpha));
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.AddCompanyProductPage .heading{
    margin-top: .5rem;
    color: var(--tersiory);
}
.AddCompanyProductPage .bgimg{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 45rem;
    object-fit: cover;
    z-index: -4;
}
.AddCompanyProductPage .prices{
    display: flex;
    align-items: center;
    gap: .4rem;
}
.AddCompanyProductPage .offer{
    color: var(--tersiory);
    margin: 0;
}
.AddCompanyProductPage .category-selector{
    width: 70rem;
    height: 2.5rem;
    background-color: var(--tersiory);
    border-radius: 2px;
    font-weight: 600;
    font-size: large;
    color: var(--primary);
    border: 0;
}
.AddCompanyProductPage .category-selector:focus{
    outline: 0;
}
.AddCompanyProductPage .description-text-area{
    width: 70rem;
    margin: 0;
    height: 2.5rem;
    background-color: var(--tersiory);
    font-size: large;
    font-weight: 600;
    min-height: 2.5rem;
    padding-top: 5px;
}
.AddCompanyProductPage .description-text-area:focus{
    outline: 0;
}
.AddCompanyProductPage .description-text-area::placeholder{
    color: var(--primary);
}
.AddCompanyProductPage .dropzone-div{
    display: flex;
    margin-top: 2rem;
    gap: .4rem;
}
.AddCompanyProductPage .dropzone{
    background-color: var(--tersiory);
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
    width: 34.8rem;
    height:2.5rem;
    padding: 2px;
    transition: 500ms;
    color: var(--primary);
    display: flex;
    align-items: center;
}
.AddCompanyProductPage .dropzon-placeholder{
    font-weight: 600;
    font-size: large;
    margin-top: .7rem;
}
.AddCompanyProductPage .submit-btn{
    margin-top: 2rem;
}
.AddCompanyProductPage .bottum-div{
    margin-bottom: 2rem;
}