@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

 /*  Globel Variable Setting  */
:root {
    --primary: hsla(218, 29%, 11%);
    --primary-alpha:36, 47, 68;
    --primary-beeta: rgba(0, 195, 255,0.1);
    --secondery: rgb(0, 195, 255);
    --secondery-alpha: 0, 195, 255;
    --secondery-beeta:rgba(9, 61, 77, 0.1);
    --tersiory: #DBE8E1;
    --error-color:red;
    --link-color:blue;
    --bs-primary: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    --h-display: calc(100vh - 50px);
    --header-H:40px;
}
.text-decoration-none{
    text-decoration: none;
}
.color-tersiory{
    color: var(--tersiory);
    transition: 300ms;
}

#Cartopedia{
    font-family: sans-serif;
}
/* Main top  */

.HomePage .Homepage-main-top {
    margin-top: var(--header-H);
    background-color: var(--primary);
    width: 100%;
    /* height: 30rem; */
    display: flex;
    gap: 2rem;
}

.HomePage .cover-photo-div {
    width: 50%;
    height: 25rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.HomePage .cover-photo {
    width: 85%;
    height: 80%;
    object-fit: cover;
    box-shadow: var(--bs-primary);
    border-radius: 5px;
}

.HomePage .Homepage-main-bottum {
    background-color: var(--primary);
    width: 100%;
    min-height: 50rem;
    max-height: 65rem;
}

.HomePage .trending-products {
    margin-top: 1rem;
    width: 93%;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-left: 3rem;
}

.HomePage ::-webkit-scrollbar {
    display: none;
}