.HelperPopup {
  width: 0;
  height: 0;
}
.HelperPopup .HelperPopup-main {
  background-color: var(--primary);
  color: var(--secondery);
  /* border: 1px solid var(--secondery); */
  position: relative;
  border-radius: 3px;
  border: 1px var(--secondery) solid;
}
.HelperPopup .HelperPopup-main::before {
  content: "";
  position: absolute;
  visibility: visible;
  top: 4.9rem;
  right: 8rem;
  border: 10px solid transparent;
  border-top: 10px solid var(--secondery);
}
.HelperPopup .message{
    padding: 0.5rem;
}
.HelperPopup .got-it-btn-div{
    background-color: var(--primary-beeta);
    position: absolute;
    top: 3rem;
    left: 10rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    border-radius: 2px;
    border: 1px var(--secondery) solid;
    cursor: pointer;
    text-align: center;
    height: 1.5rem;
}