.UserProfilePage-main {
    width: 100%;
    min-height: 100vh;
    max-height: max-content;
    background-color: var(--primary);
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top:4rem;
    display: flex;
    margin-top: 1rem;
    gap: 2rem;
}

.UserProfilePage-main .right {
    width: 90%;
}

.UserProfilePage-main .right-top {
    width: 100%;
    height: 1.7rem;
    display: flex;
    justify-content: end;
}

.UserProfilePage-main .theme-selector {
    height: 100%;
    background-color: var(--secondery);
    border-radius: 15px;
    padding: 3px;
    cursor: pointer;
}

.UserProfilePage-main .theme-option {
    width: 1.3rem;
    height: 100%;
    background-color: var(--primary);
    border-radius: 15px;
}

.UserProfilePage-main .moon-svg,
.UserProfilePage-main .sun-svg {
    color: var(--tersiory);
    margin-bottom: 0.2rem;
    margin-left: 0.2rem;
    position: relative;
}
.UserProfilePage-main .sun-svg{
    margin-left: 0.1;
}