.IndrestedItems{
    width: 50%;
}
.IndrestedItems .indrested-container-div {
    height: 25rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.IndrestedItems .indrested-div {
    width: 85%;
    height: 80%;
    box-shadow: var(--bs-primary);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.IndrestedItems .indrested-top {
    width: 95%;
    height: 43%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    box-shadow: var(--bs-primary);

} 
.IndrestedItems .indrested-prodect-img-div{
    overflow: hidden;
    border-top-left-radius: 5px;
}

.IndrestedItems .indrested-product-img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 5px;
    object-fit: cover;
    cursor: pointer;
    transition: 300ms;
}
.IndrestedItems .indrested-product-img:hover {
    scale: 1.1;
}
.IndrestedItems .product-details-link{
    color: white;
}
.IndrestedItems .indrested-product-details-div {
    width: 65%;
    height: 100%;
    border-top-right-radius: 5px;
    padding-left: .6rem;
    color: white;
    padding-top: .3rem;
    padding-right: .4rem;
}

.IndrestedItems .indrested-product-prize{
    color: chartreuse;
    padding-bottom: 0;
}

.IndrestedItems .indrested-product-striked-prize{
    color: orangered;
    margin-left: .5rem;
    font-size: 17px;
}

.IndrestedItems .indrested-product-offer-percent{
    color: dodgerblue;
    margin-left: .5rem;
}

.IndrestedItems .company-category-div{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.IndrestedItems .indrested-product-company{
    text-align: end;
    color: violet;

}.IndrestedItems .indrested-product-category{
    text-align: start;
    color: rgb(224, 75, 224);
}
.IndrestedItems .indrested-bottum {
    width: 95%;
    height: 43%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: var(--bs-primary);
    display: flex;
    gap: 5px;
}

.IndrestedItems .indrested-company-div{
    width: 50%;
    height: 100%;
    border-bottom-left-radius: 5px;
    overflow: hidden;
}
.IndrestedItems .indrested-company{
    width:100%;
    height: 100%;
    cursor: pointer;
    transition: 300ms;
    object-fit: cover;
    border-bottom-left-radius: 5px;
}
.IndrestedItems .indrested-company:hover{
    scale: 1.1;
}
.IndrestedItems .indrested-category-div {
    width: 50%;
    height: 100%;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}
.IndrestedItems .indrested-category{
    width:100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
    transition: 300ms;
    border-bottom-right-radius: 5px;
}
.IndrestedItems .indrested-category:hover{
    scale: 1.1;
}