.CompanyInput-main .CompanyInput{
    background-color: var(--tersiory);
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
    width: 10rem;
    height:2.5rem;
    padding: 2px;
    transition: 500ms;
    color: var(--primary);
    font-weight: 600;
    font-size: large;
}

.CompanyInput-main .CompanyInput:hover{
    outline: 0;
}
.CompanyInput-main .CompanyInput:focus{
    opacity: 1;
    outline: 0;
    border: 0;
}
.CompanyInput-main .CompanyInput::placeholder{
    color: var(--secondery);
    font-weight: 600;
    font-size: large;
}
.CompanyInput-main .error{
    color: red;
    top: -14px;
    left: 2px;
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 13px;
}