.Popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255,255,255,0.4) ;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms;
}
.Popup .popup-main{
    background-color: var(--primary);
    width: 25rem;
    height: 30rem;
    margin-top: 5rem;
    border-radius: 2px;
    box-shadow: var(--bs-primary);
    padding: .7rem;
    transition: 200ms;
}
.Popup .images-div{
    background-color: var(--secondery);
    border-radius: 2px;
    width: 100%;
    height: 7.8rem;
    transition: 200ms;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2px;
    gap: 2px;
}
.Popup .display-img{
    width: 100%;
    height: 100%;
}
.Popup .display-div ,.Popup .detailds-div{
    width: 49.75%;
    height: 100%;
    background-color: black;
    border-radius: 2px;
}
.Popup .detailds-div{
    overflow-x: scroll;
    display: flex;
}
.Popup .dots{
    width: 100%;
    height: 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;
}
.Popup .dot{
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: black;
}
.Popup .popup-tags-container{
    overflow-x: scroll;
}
.Popup .propedrties-div{
    width: 100%;
    height: 69%;
    background-color:var(--primary);
    border-radius: 2px;
    border: solid 2px var(--secondery);
    text-align: start;
    color: var(--tersiory);
    padding-top: .7rem;
    padding-left: .8rem;
    padding-right: .8rem;
}
.Popup .tags{
    width: max-content;
    display:flex;
    align-items: center;
    height: 1.7rem;
    gap: .28rem;
    border-radius: 2px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.Popup ::-webkit-scrollbar{
    display: none;
}

.Popup .tag{
    width: fit-content;
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    background-color: rgba(48, 137, 197, 0.61)
}
.Popup .description{
    overflow-y: scroll;
    height: 4.5rem;
    margin-top: .2rem;
}
.Popup .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}