.AdminHeader{
    height: 40px;
    display: flex;
    justify-content: space-between;
}
.AdminHeader .center-div{
    display: flex;
    justify-content: center;
}
.AdminHeader .left-div{
    gap: 5px;
}
