.Property .property-main{
    width: 15rem;
    height: 1.3rem;
    border-radius: 2px;
    display: flex;
    gap: 0.4rem;
    color: var(--tersiory);
}
.Property .property-property{
    min-width: 50%;
    height: 100%;
    max-width: fit-content;
    border-radius: 2px;
    text-align: end;
    display: flex;
    justify-content: flex-end;
    padding-right: 2px ;
    padding-bottom: 2px;
}
.Property .property-value{
    min-width: 50%;
    height: 100%;
    max-width: fit-content;
    border-radius: 2px;
    padding-left: 2px;
}
.Property .property-property-h6{
    font-weight: 600;
}
