.C-Input{
    background-color: var(--tersiory);
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    /* box-shadow: var(--bs-primary); */
    width: 10rem;
    height:1.5rem;
    padding: 4px;
    transition: 500ms;
    color: var(--primary);
}

.C-Input:hover{
    outline: 0;
    /* box-shadow: var(--bs-primary); */
}
.C-Input:focus{
    opacity: 1;
    outline: 0;
    border: 0;
    /* box-shadow: var(--bs-primary); */
}