.ProductDetailed .main{
    width: 100%;
    min-height: 45rem;
    max-height: max-content;
    margin-top: 42px;
    padding-top: 20px;
    background-image: linear-gradient(var(--secondery-alpha),0.01%,var(--primary-alpha));
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}
.ProductDetailed .product-left{
    width: 48%;
    min-height: 100vh;
    max-height: max-content;
    padding: 5px;
}
.ProductDetailed .image-div{
    width: 100%;
    border-radius: 4px;
    box-shadow: var(--bs-primary);
    overflow: hidden;
    margin-bottom: 2rem;
}
.ProductDetailed .right-arrow,.ProductDetailed .left-arrow{
    width: 40px;
    border-radius: 100%;
    height: 60px;
    background-color:  var(--secondery);
    position: relative;
    transition: 300ms;
    cursor: pointer;
}
.ProductDetailed .right-arrow{
    top: calc(-50% - 30px);
    left: -25px;
}
.ProductDetailed .right-arrow:hover{
    left: -20px;
}
.ProductDetailed .left-arrow{
    top: calc(-50% - 90px);
    right: calc(-100% + 15px);
}
.ProductDetailed .left-arrow:hover{
    right: calc(-100% + 20px);
}
.ProductDetailed .product-right{
    width: 48%;
    height: max-content;
}
.ProductDetailed .product-img{
    width: 100%;
    height: 100%;
}
.ProductDetailed .description-div{
    width: 100%;
}
.ProductDetailed .product-description{
    color: var(--tersiory);
    margin-left: 1rem;
}
.ProductDetailed .description-label{
    color:  var(--tersiory);
}
.ProductDetailed .description-hr{
    width: 130px;
    margin-left: -2px;
    color: var(--secondery);
}
.ProductDetailed .product-properties{
    padding: 2rem;
}
.ProductDetailed .product-name{
    color: var(--tersiory);
    margin-top: 2rem;
    margin-left: 1rem;
    text-align: center;
}
.ProductDetailed .product-prices{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}
.ProductDetailed .product-price{
    color: greenyellow;
}
.ProductDetailed .product-mrp{
    color: red;
}
.ProductDetailed .product-offer{
    color: yellow;
}