.AddCompanyProductPage .main {
  margin-top: 42px;
  width: 100%;
  min-height: 45rem;
  max-height: max-content;
  background-color: var(--primary);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  transition: 200ms;
}
.AddCompanyProductPage .users-block {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: var(--primary);
  width: 100%;
  height: 100vh;
}
.AddCompanyProductPage .heading {
  margin-top: 0.5rem;
  color: var(--tersiory);
  transition: 200ms;
}
.AddCompanyProductPage .error {
  color: red;
  top: -14px;
  left: 2px;
  position: relative;
  padding: 0;
  margin: 0;
  font-size: 13px;
  transition: 200ms;
}
.AddCompanyProductPage .bgimg {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 45rem;
  object-fit: cover;
  z-index: -4;
  transition: 200ms;
}
.AddCompanyProductPage .prices {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  transition: 200ms;
}
.AddCompanyProductPage .offer {
  color: var(--tersiory);
  transition: 200ms;
  margin: 0;
}
.AddCompanyProductPage .category-selector {
  width: 70rem;
  height: 2.5rem;
  background-color: var(--primary-beeta);
  border-radius: 2px;
  font-weight: 600;
  font-size: large;
  border: 0;
  transition: 200ms;
  border: 1px solid var(--secondery);
}
.AddCompanyProductPage .category-options {
  color: var(--tersiory);
  font-size: x-large;
}
.AddCompanyProductPage .category-selector:focus {
  background-color: var(--primary);
  outline: 0;
}
.AddCompanyProductPage .description-text-area {
  width: 70rem;
  margin: 0;
  height: 2.5rem;
  background-color: var(--primary-beeta);
  border: 1px solid var(--secondery);
  font-size: large;
  font-weight: 600;
  min-height: 2.5rem;
  padding-top: 5px;
  transition: 200ms;
}
.AddCompanyProductPage .description-text-area:focus {
  outline: 0;
  background-color: var(--primary);
}
.AddCompanyProductPage .description-text-area::placeholder {
  color: var(--tersiory);
}
.AddCompanyProductPage .description-error {
  color: red;
  top: -21px;
  left: 2px;
  position: relative;
  padding: 0;
  margin: 0;
  font-size: 13px;
  transition: 200ms;
}
.AddCompanyProductPage .isUrl-input{
  margin: 0;
  padding: 0;
  width: 1rem;
}
.AddCompanyProductPage .dropzone-div {
  display: flex;
  gap: 0.4rem;
}
.AddCompanyProductPage .dropzone {
  background-color: var(--primary-beeta);
  border: 0;
  border-radius: 2px;
  box-sizing: border-box;
  width: 34.8rem;
  height: 2.5rem;
  padding: 2px;
  transition: 500ms;
  color: var(--primary);
  display: flex;
  align-items: center;
  transition: 200ms;
  border: 1px solid var(--secondery);
}
.AddCompanyProductPage .dropzon-placeholder {
  font-weight: 600;
  font-size: large;
  margin-top: 0.7rem;
  transition: 200ms;
}
.AddCompanyProductPage .submit-btn {
  margin-top: 2rem;
  transition: 200ms;
}
.AddCompanyProductPage .bottum-div {
  margin-bottom: 2rem;
  transition: 200ms;
}
