.product-display-image-div{
    background-color: var(--tersiory);
    padding: 5px;
    border-radius: 4px;
}
.product-link{
    color: var(--primary);
}
.product-link:hover{
    color: var(--primary);
}
.product-display-image{
    width: 20rem;
    border-radius: 5px;
    margin-top: .5rem;
}
.product-details-div{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: start;
    width: 100%;
    margin: 1rem;
    margin-left: 2rem;
    margin-top: 1rem;
}
.product-main-div{
    background-color: var(--tersiory);
    border-radius: 4px;
    justify-content: flex-start;
    display: inline-flex;
    transition: 300ms;
}
.product-main-div:hover{
    opacity: 0.92;
}
.product-detailed-addtocart-div{
    background-color: var(--tersiory);
    width: fit-content;
    color: var(--secondery);
    position: relative;
    right: -50rem;
}