.Product .product-main-div {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    margin-bottom: 0.8rem;
    background-color: var(--primary-beeta);
    border-radius: 1px;
    transition: 200ms;
}
.Product .product-main-div:hover {
    background-color: rgba(var(--primary-alpha),0.8)
}

.Product .product-display-image-div {
    border-radius: 4px;
    color: var(--tersiory);
    margin: 8px;
    /* height: 100%; */
}

.Product .product-flex-div{
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: flex-start;
    text-decoration: none;
}
.Product .product-display-image {
    object-fit: cover;
    /* height: 92%; */
    width: 15rem;
    border-radius: 5px;
}
.Product .product-details-div{
    padding-top: 1rem;
}
.Product .product-link {
    text-decoration: none;
    color: var(--tersiory);
}

.Product .product-link:hover {
    text-decoration: none;
    color: var(--tersiory);
}

/* .Product .product-detailed-addtocart-div {
    background-color: var(--primary-beeta);
    width: fit-content;
    color: var(--secondery);
    position: relative;
    text-decoration: none;
    right: -50rem;
} */

.Product .product-mrp {
    color: var(--error-color);
    margin-left: 3rem;
    text-decoration: line-through;
}

.Product .product-offer {
    color: yellow;
    margin-left: 2.8rem;
    font-size: 20px;
    text-decoration: none;
    background-color: blue;
}

.Product .product-price {
    color: greenyellow;
}

.Product .delete-button-div{
    /* position: relative;
    top: 3px;
    /* justify-self: fl; */
    /* left: 67.5rem; */ 
    position:relative;
    top: 0.5rem;
    height: 0;
}