.addcompanyproduct-main-div{
    overflow: auto;
    resize: both;
    border: solid 1px black;
}
.addcompanyproduct-product-imagepicker-dropzone{
    outline-style: dashed ;
    outline-width: 1px;
    outline-color: blue;
    width: 100%;
    height: 10rem;
}
.width-1rem{
    width: 1rem;
}