.register-form-div-cart-bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
    width: 100%;
    height: 100%;
    object-fit: cover;   
}

.register-form-heading{
    color: rgb(0, 119, 255);
    font-weight: 600;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.register-form-lastName-input{
    margin-left: 15px;
}

.register-form-input{
    border: 0;
    border-bottom: solid 1px darkcyan;
    background-color: transparent;
    transition: 500ms step-end step-start;
}
.register-form-input:focus{
    background-color: transparent;
    border: 0;
    outline: 0;
}
.register-form-email-input{
    width: 100%;
}
.register-form-userName-input{
    width: 100%;
}
.register-form-phone-input{
    margin-top: 2rem;
    width: 100%;
}
.register-form-password-input{
    margin-top: 2rem;
    width: 100%;
}
.register-form-confirm-password-input{
    width: 100%;
}
.register-form-profile-dropzone{
    margin-top: 2rem;
    height: 2rem;
    width: 100%;
    background-color: transparent;
    cursor: pointer;
    border-bottom: solid 1px darkcyan;

}
.register-form-submit-button{
    width: 100%;
    margin-top: 2rem;
    border: 1px solid rgb(21, 123, 255);
    border-radius: 4px;
    background-color: rgb(141, 155, 236);
    color: white;
    padding: 0px;
    font-size: 19px;
    transition: 500ms;
}
.register-form-submit-button:hover{
    background-color: rgb(86, 105, 192);
}
.register-form-firstName-input:focus{
    border: solid 1px  rgb(42, 117, 216) ;
    border-bottom: solid 1px rgb(51, 180, 255);
}
.register-form-lastName-input:focus{
    border: solid 1px  rgb(42, 117, 216) ;
    border-bottom: solid 1px rgb(42, 117, 216);
}
.register-form-email-input:focus{
    border: solid 1px  rgb(42, 117, 216) ;
    border-bottom: solid 1px rgb(42, 117, 216);
}
.register-form-phone-input:focus{
    border: solid 1px  rgb(42, 117, 216) ;
    border-bottom: solid 1px rgb(42, 117, 216);
}
.register-form-password-input:focus{
    border: solid 1px  rgb(42, 117, 216) ;
    border-bottom: solid 1px rgb(42, 117, 216);
}
.register-form-confirm-password-input:focus{
    border: solid 1px  rgb(42, 117, 216) ;
    border-bottom: solid 1px rgb(42, 117, 216);
}
.register-form-userName-input:focus{
    border: solid 1px  rgb(42, 117, 216) ;
    border-bottom: solid 1px rgb(42, 117, 216);
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #000000;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px transparent;
}
.margin-top-2{
    margin-top: 2rem;
}
.margin-top-0{
    margin-top: 0rem;
}
