@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

.Header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: var(--primary);
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 500ms;
}

.Header .left-div {
    width: 33%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Header .center-div {
    width: 33%;
}

.Header .rigth-div {
    width: 33%;
}

.Header  .branding {
    color: var(--tersiory);
    cursor: pointer;
    width: fit-content;
    transition: 500ms;
}
.Header  .branding:hover{
    color: var(--secondery);
}
.Header .sell{
    color: var(--tersiory);
    cursor: pointer;
    width: fit-content;
    margin-left: 2rem;
    font-size: 20px;
    margin-top: .37rem;
    transition: 300ms;
}
.Header  .sell:hover{
    color: var(--secondery);
}
.Header .search{
    background-color: var(--tersiory);
    width: fit-content;
    padding: 5px;
    border-radius: 4px;
}

.Header .search-input{
    background-color: var(--tersiory);
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
    width: 10rem;
    height:1.5rem;
    padding: 4px;
    transition: 500ms;
    color: var(--secondery);
    opacity: .6;
}

.Header .search-input:hover{
    opacity: 1;
    outline: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.Header .search-input:focus{
    opacity: 1;
    outline: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.Header .search-icon{
    color: var(--secondery);
    width: fit-content;
    margin-left: 2px;
    padding: 2px;
    cursor: pointer;
    transition: 500ms;
    border-radius: 4px;
}
.Header .search-icon:hover{
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 5px 15px 0 rgba(0, 0, 0, 0.19);
    
}

.Header .account{
    display: flex;
    background-color: var(--tersiory);
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
    text-decoration: none;
}

.Header .account-login-div ,.Header .account-signup-div{
    background-color: var(--secondery);
    margin: 4px;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
    transition: 500ms;
    cursor: pointer;
    color: var(--tersiory);
}
.Header .account-login-div:hover{
    background-color: var(--secondery);
    margin: 4px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Header .account-signup-div:hover{
    background-color: var(--secondery);
    margin: 4px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Header .account-login-h4 ,.Header .account-signup-h4{
    margin: 4px;
    margin-top: 0;
    color: var(--tersiory);
}
.Header .account-loginorsignup{
    display: flex;
}

.text-decoration-none{
    text-decoration: none;
}

.Header .search-btn{
    border: 0;
    background-color: transparent;
}